[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
